.descriptors span:nth-of-type(1) {
  animation-delay: 1s; }

.descriptors span:nth-of-type(2) {
  animation-delay: 2s; }

.descriptors span:nth-of-type(3) {
  animation-delay: 3s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in-clone {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in-2 {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
h1, h2, p {
  font-family: "Monospace", sans-serif;
  font-weight: 125; }

* {
  scroll-behavior: smooth; }

#menu__toggle {
  opacity: 0; }

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg); }

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg); }

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#menu__toggle:checked ~ .menu__box {
  left: 0 !important; }

.menu__btn {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 26px;
  height: 52px;
  cursor: pointer;
  z-index: 1; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: gray;
  transition-duration: .25s; }

.menu__btn > span::before {
  content: '';
  top: -8px; }

.menu__btn > span::after {
  content: '';
  top: 8px; }

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 10%;
  height: 20%;
  margin: 0;
  padding: 60px 0;
  list-style: none;
  transition-duration: .25s; }

.menu__item {
  display: block;
  padding: 6px 24px;
  color: gray;
  font-family: 'Monospace', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s; }

.menu__item:hover {
  color: cyan; }

#holster {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
  margin-top: -5vh; }

.Panel {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-snap-align: center; }

#Title {
  display: flex;
  flex-direction: row; }
  #Title div {
    display: table;
    text-align: center; }
    #Title div h1, #Title div h2 {
      display: table-cell;
      vertical-align: middle; }
  #Title #left-title {
    width: 50vw;
    font-size: 120%; }
    #Title #left-title .descriptors span {
      padding: 0 .5%;
      animation-name: fade-in;
      animation-fill-mode: both;
      animation-duration: .5s; }
  #Title #right-title {
    width: 50vw;
    font-size: 200%; }
    #Title #right-title #word-4 {
      animation-name: fade-in-2;
      animation-fill-mode: both;
      animation-duration: 5s;
      margin-left: -12vw; }

#About {
  display: flex;
  flex-direction: column; }
  #About div {
    width: 50vw;
    margin: 0 auto; }
  #About #about-header {
    height: 25vh;
    display: table;
    text-align: center;
    margin-bottom: 1%; }
    #About #about-header h1 {
      display: table-cell;
      vertical-align: bottom; }
  #About #about-paragraph {
    height: 40vh;
    display: table;
    text-align: center;
    line-height: 300%; }
    #About #about-paragraph p {
      display: table-cell;
      vertical-align: center; }
  #About #account-logos {
    height: 20vh;
    width: 40vw;
    padding: 0 auto;
    display: flex;
    justify-content: space-between; }
    #About #account-logos img {
      padding: 5vh 0 0 1vw;
      width: 35%;
      height: auto;
      transition: .25s;
      opacity: 75%; }
    #About #account-logos img:hover {
      transition: .25s;
      opacity: 100%; }

#Projects {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #Projects div {
    margin: auto 0; }
  #Projects #panel-left {
    width: 30vw;
    padding: auto 0; }
    #Projects #panel-left h2 {
      margin: 15% 0; }
      #Projects #panel-left h2 :hover {
        color: cyan;
        transition: color .25s linear; }
      #Projects #panel-left h2 :not(:hover) {
        color: black;
        transition: color .25s linear; }
  #Projects #panel-right {
    width: 55vw;
    height: 60vh; }
    #Projects #panel-right #project-description {
      height: 60%;
      text-align: center;
      overflow: auto;
      border-bottom: 2px dotted black; }
      #Projects #panel-right #project-description p {
        font-size: 100%;
        line-height: 150%;
        margin: 12%; }
    #Projects #panel-right #project-stack {
      height: 40%;
      display: flex;
      justify-content: center; }
      #Projects #panel-right #project-stack div {
        width: 25%;
        height: auto;
        padding: auto;
        overflow: auto;
        display: flex;
        justify-content: center; }
        #Projects #panel-right #project-stack div img {
          width: 100px;
          height: 100px;
          object-fit: contain;
          overflow: auto; }
    #Projects #panel-right .text-default-class {
      animation-name: fade-in;
      animation-duration: 1s; }
    #Projects #panel-right .text-accent-class {
      animation-name: fade-in-clone;
      animation-duration: 1s; }

#Contact {
  overflow: auto;
  bottom: 200%;
  border-bottom: 5vh solid black; }
  #Contact #contact-both {
    display: flex;
    flex-direction: row; }
    #Contact #contact-both #contact-left {
      width: 40vw;
      height: 50vh;
      text-align: center;
      padding: 25vh 0vw 25vh 5vw; }
      #Contact #contact-both #contact-left p {
        line-height: 300%;
        margin: 0 12%; }
        #Contact #contact-both #contact-left p a {
          color: black;
          transition: .25s; }
        #Contact #contact-both #contact-left p a:hover {
          transition: .25s;
          color: cyan; }
    #Contact #contact-both #contact-right {
      display: block;
      text-align: center;
      width: 60vw;
      height: 80vh; }
      #Contact #contact-both #contact-right form {
        display: inline-block;
        margin: 20vh auto;
        text-align: left; }
        #Contact #contact-both #contact-right form input, #Contact #contact-both #contact-right form label, #Contact #contact-both #contact-right form textarea, #Contact #contact-both #contact-right form button {
          font-family: 'Monospace', sans-serif; }
        #Contact #contact-both #contact-right form .button {
          transition: .25s;
          cursor: pointer;
          border: 1px solid black; }
        #Contact #contact-both #contact-right form .button:hover {
          transition: .25s;
          border-color: cyan;
          background-color: white; }

/*# sourceMappingURL=index.css.map */
